#banner {
  background-image: url(../img/BANNER.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  #banner .hero {
    min-height: 100vh;
    width: 100%; }
    #banner .hero h1 {
      color: #fff;
      font-size: 6rem;
      margin-bottom: 200px;
      font-weight: bolder; }

.courseOverview > article > h3 {
  background-color: #006341;
  padding: 10px;
  color: #fff; }

#course {
  margin-bottom: 100px; }

@media screen and (max-width: 480px) {
  #banner {
    width: 540px; }
    #banner .hero {
      min-height: 40vh;
      max-height: 60vh; }
      #banner .hero h1 {
        font-size: 4rem;
        margin: 300px 0 0; } }

.site-header {
  background-image: url(../../img/FAQ-featuredimg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.site-header .layout-hero {
  min-height: 60vh; }
  .site-header .layout-hero h1, .site-header .layout-hero h2 {
    color: white;
    font-size: 3rem; }
    @media screen and (max-width: 480px) {
      .site-header .layout-hero h1, .site-header .layout-hero h2 {
        font-size: 2rem; } }
  @media screen and (max-width: 960px) {
    .site-header .layout-hero {
      min-height: 50vh; } }

#questions .row .col-md-6 .question-box {
  border:  1px solid white;
  border-radius: 1%;
  box-shadow: 1px 1px 2px 2px rgba(15, 58, 4, 0.3);
  padding:  2rem;
  height: 34rem;
  overflow-y: scroll; }
  #questions .row .col-md-6 .question-box h3 {
    padding-bottom: 2rem;
    padding-top: 1rem;
    color: #006341; }
    @media screen and (max-width: 960px) {
      #questions .row .col-md-6 .question-box h3 {
        font-size: 1.4rem; } }

form {
  opacity: 0.8; }
  form button, form input {
    height: 3.2rem;
    border-radius: 10px;
    border: none; }
  form button {
    width: 3rem; }
  form input {
    width: 65%;
    padding: 0 15px; }

/* Navigation menu */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0; }

.navbar-expand-lg .navbar-nav {
  justify-content: space-evenly;
  width: 100%; }

.navbar .navbar-expand-lg .navbar-dark .bg-dark {
  padding: 0 !important; }

.navbar-dark .navbar-nav .nav-link {
  line-height: 60px;
  padding: 0rem 2rem; }

#page-hero {
  margin-bottom: 3rem; }

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #fff;
  background-color: #44b049; }

.navbar-brand img:hover {
  opacity: 0.6; }

.dropdown:hover .dropdown-menu {
  display: block;
  /* Enable hover effect on dropdown menu */ }

.dropdown-menu {
  background: #343a40;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0; }
  .dropdown-menu .dropdown-item {
    display: inline-block;
    color: #fff;
    border-bottom: 1px solid #666;
    opacity: 0.8;
    height: 100%;
    padding: 10px;
    margin: 0; }
    .dropdown-menu .dropdown-item:last-child {
      border-bottom: none; }

/* Footer */
footer .fab {
  font-size: 150%;
  padding-left: 1rem; }

#footer {
  background-color: #006341 !important; }
