// ----------------------- Hero Image -------------------------//
.site-header{
    background-image: url(../../img/FAQ-featuredimg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header .layout-hero {
    min-height: 60vh;
    h1, h2 {
        color: white;
        font-size: 3rem;

        @media screen and (max-width:480px) {
           font-size: 2rem;
        }
    } 
    @media screen and (max-width:960px) {
        min-height: 50vh;
     }
    
}

// ----------------------- Qestions Boxs -------------------------//

#questions .row .col-md-6 .question-box {
    border: 1px solid white;
    border-radius: 1%;
    box-shadow: 1px 1px 2px 2px rgba(15, 58, 4, 0.3);
    padding: 2rem;  
    height: 34rem;
    overflow-y: scroll;
    
    
    h3 {
        padding-bottom: 2rem;
        padding-top: 1rem;
        color: #006341;
        @media screen and (max-width:960px) {
            font-size: 1.4rem;
         }
    }
}

// -----------------------Search Bar -------------------------//

form {
    opacity: 0.8;
    
    button, input {
        height: 3.2rem;
        border-radius: 10px;
        border: none;
    }

    button {
        width: 3rem;
    }

    input {
        width: 65%;
        padding: 0 15px;
    }
}


