// Hero image------------
.site-header{
    background-image: url(../../img/FAQ-featuredimg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header .layout-hero {
    min-height: 50vh;

    h1, h2 {
        color: white;
        font-size: 3rem;
    } 
}

.question .row .col-md-6 {
    border: 1px solid black;
}