@import 'normalize';
@import 'base';
@import 'sidebar';
@import 'form';

/* Navigation menu */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0;
}

.navbar-expand-lg .navbar-nav {
  justify-content: space-evenly;
  width: 100%;
}
 
.navbar .navbar-expand-lg .navbar-dark .bg-dark {
  padding: 0 !important;
}

.navbar-dark .navbar-nav .nav-link {
  // line-height: 3rem;
  line-height: 60px;
  padding: 0rem 2rem;
}

#page-hero {
  margin-bottom: 3rem;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .dropdown-item:hover {
  color: #fff;
  background-color:$accent-color;
}

.navbar-brand img:hover {
  opacity: 0.6;
}

.dropdown:hover .dropdown-menu{
  display:block;  /* Enable hover effect on dropdown menu */
}

.dropdown-menu {
  background: #343a40;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;

  .dropdown-item {
    display: inline-block;
    color: #fff;
    border-bottom: 1px solid #666;
    opacity: 0.8;
    height: 100%;
    padding: 10px;
    margin: 0;

    &:last-child {
      border-bottom: none;
    }
  }
}

/* Footer */
footer .fab {
  font-size: 150%;
  padding-left: 1rem;
}

#footer {
  background-color: $primary!important;
}