// Load the main bootstrap framework.
// @import '../node_modules/bootstrap/scss/bootstrap';
@import 'normalize';
@import 'base';
@import 'schedule';
@import 'courses';
@import 'professors';
@import 'FAQ';



/* Global Sass variables */


/* Add styles here */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-expand-lg .navbar-nav {
    justify-content: space-evenly;
    width: 100%;
  }
 
.navbar .navbar-expand-lg .navbar-dark .bg-dark {
    padding: 0 !important;
  }


.navbar-dark .navbar-nav .nav-link {
    line-height: 3rem;
    padding: 0rem 2rem;
  }

#page-hero {
    margin-bottom: 3rem;
  }

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
 
    color: #fff;
   
    background-color:$accent-color;
   
  }