* {
  box-sizing: border-box;
}

/* ---------------------------------------------------
                  NAVBAR STYLES
----------------------------------------------------*/
.navbar {
    align-items: center;
    background-color: black;
    /* border-bottom: 3px solid #f0f0f0; */
    display: flex;
    height: 55px;
  }
  .navbar::before {
    content: ' ';
    /* border-top: 2px solid #d16199; */
    position: absolute;
    top: 0px;
    width: 100%;
  }
  .navbar .logo {
    flex-grow: 1;
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 1rem;
  }
  .navbar .logo img {
    height: calc(100% - 1.5rem);
    width: auto;
  }
  
  .navbar nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar nav a {
    color: white;
    flex-grow: 1;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
  
  .navbar nav a:hover {
    background: #43b02a;
    cursor: pointer;
  }
  
  .navbar nav a:active {
    background: #43b02a;
  }
  
  .banner {
    background-image: url(img/backgroundPhoto_schedule.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .button {
    border-radius: 4px;
    background-color: #919390;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
    /* background-color: #66a18d; */

  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .column-01,
  .column-02 {
    text-align: center;
  }

  .column-01 {
    background-color: burlywood;
  }

  .column-02 {
    background-color: aliceblue;
  }

  .imd-schedule {
    width: 100%;
  }

  .change {
    text-decoration: none;
    color: black;
    float: right;
    font-size: 20px;
  }

  /* ---------------------------------------------------
                    FOOTER STYLES
  ----------------------------------------------------*/
  footer {
    background: #006342;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .copyRight p {
    color: white;
  }
  .socialMedia a {
    color: white;
  }
  .socialMedia a:visited {
    color: white;
  }
  .socialMedia a:hover {
    color: #43b02a;
  }
  
  @media screen and (min-width: 750px) {
    footer {
      display: flex;
      flex-direction: row;
    }
  
    .copyRight {
      flex-grow: 1;
      margin-left: 120px;
    }
  
    .socialMedia {
      flex-grow: 1;
      margin-left: 120px;
    }
  }